{
  "resourceType": "Observation",
  "id": "{{subject_assertion.id}}",
  "subject": "Patient/{{subject.id}}",
  "status": "final",
  "category": "{{subject_assertion.category}}",
  "code": "TBD - Presumably this will be a macro",
  {# {{ macro for the value[x] }}, #}
  "component": [
    {# I assume this will be a partial template of some kind #}
    "component[0]": "TBD -- "
  ]
  "meta": {
    "profile": [
      "https://nih-ncpi.github.io/ncpi-fhir-ig-2/StructureDefinition/ncpi-participant-assertion"
    ]
  }
}
