{%- set race=HARMONIZE.harmonize(subject.has_demographics.race[0], 'race') -%}

{
  "resourceType": "Patient",
  "id": "{{subject.id}}",
  "meta": {
    "profile": [
      "https://nih-ncpi.github.io/ncpi-fhir-ig-2/StructureDefinition/ncpi-participant"
    ]
  },
  "extension": [
    {
        "url": "http://terminology.hl7.org/CodeSystem/v3-AdministrativeGender",
        "valueCode": "{{"F" if subject.has_demographics.sex else "M"}}"
    },
    {
        "url": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-race",
        "extension": [
            {
                "url": "ombCategory",
                "valueCoding": {
                  "code": "{{ race[0].code }}",
                  "display": "{{ race[0].display }}",
                  "system": "{{ race[0].system }}"
                }
            },
            {
                "url": "text",
                "valueString": "{{subject.has_demographics.race[0]}}"
            }
        ]
    }
    ]
}
